/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ---My styles--- */

:root {
  --header-bg-color: #FFF;
  --sidebar-bg-color: #1992D4;
  --sidebar-color: #FFF;
  --bg-color: #E2E8F0;
  --h-color:  #000;
  --p-color: #636363;
  --project-bg-color: #FFF;
  --project-border-color: #F0B429;
}

body {
  display: grid;
  grid-template-areas: 
              "sidebar header"
              "sidebar main";
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 270px 1fr;
  background-color: var(--bg-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */

.site-header {
  z-index: 2;
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 2fr;
  align-items: center;
  gap: 10rem;
  background-color: var(--header-bg-color);
  padding: 0.8rem 2rem;

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

  & > ul {
    gap: 1.2rem;
  }

  button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    padding-top: 8px; 

    img {
      width: 1.5rem;
    }
  }
  .profile-pic {
    width: 2.5rem;
    border-radius: 2rem;
  }

  a {
    color: #000;
    font-weight: 700;
  }
}

.search {
  input {
    border: none;
    border-radius: 20px;
    background-color: var(--bg-color);
    height: 2.2rem;
    width: 100%;
    padding: 0 0.7rem;
  }
}

.search-field {
  flex-grow: 1;
}




/* Sidebar */

.sidebar {
  z-index: 1;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 2.5rem 12em 6em;
  gap: 2em;
  align-items: start;   
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-color);  
  a {
    color: var(--sidebar-color);  
  }
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;  
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  font-size: 1.5rem;

}

.logo {
  width: 2.5rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  img {
    width: 1.1rem;
  }
  padding-left: 0.5rem;
}

.sidebar li {
  height: 2em;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Main */

main {
  z-index: 0;
}

/* Content header */

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4.5rem 1rem 2.6rem;
  box-shadow: var(--p-color) 0 0 5px;
  font-size: 0.8rem;
  font-weight: 700;

  button {
    background-color: var(--sidebar-bg-color);
    color: #FFF;
    border: none;
    border-radius: 30px;
    padding: 0.5rem 0;
    width: 6rem;
    &:hover {
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    align-items: center;
    &:first-child {
      gap: 1rem;
    }
    &:last-child {
      gap: 1.8rem;
    }
  }

  .username {
    font-size: 1.4rem;
  }
}

.profile-pic {
  width: 4rem;
  border-radius: 3.5rem;
}

main {
  grid-area: main ;
  color: var(--p-color);

  & :is(h1, h2, h3, h4, h5, h6) {
      color: var(--h-color);
    }
}

main {
  & > header {
    background-color: var(--header-bg-color);
    color: var(--h-color);
  }
}

.projects,
.announcements,
.trending {
  & > :is(section, ul, ol) {
    background-color: var(--project-bg-color);
  }
}

.projects {
  & > section {
    border-left-color: var(--project-border-color);
  }
}