/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* ---My styles--- */

:root {
  --header-bg-color: #fff;
  --header-color: #000;
  --sidebar-bg-color: #1992D4;
  --sidebar-color: #fff;
  --main-bg-color: #E2E8F0;
  --main-header-color: #000;
  --main-paragraph-color: #636363;
  --project-border-color: #F0B429;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 
              "sidebar header" 5rem
              "sidebar main" calc(100vh - 5rem)
              / 15vw 85vw;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

/* Header */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr; 
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: min(5rem, 1fr) 6fr 3fr;
}

main {
  grid-area: main ;
}